{{#*inline "text"}}
    <div class="sidebar-module">
        <h4>{{title}}</h4>
        <p>{{item.content}}</p>
    </div>
{{/inline}}
{{#*inline "text_inset"}}
    <div class="sidebar-module sidebar-module-inset">
        <h4>{{title}}</h4>
        <p>{{item.content}}</p>
    </div>
{{/inline}}
{{#*inline "links"}}
    <div class="sidebar-module">
        <h4>{{title}}</h4>
        <ol class="list-unstyled">
            {{#each item.content}}
                <li>{{~> link this ~}}</li>
            {{/each}}
        </ol>
    </div>
{{/inline}}

<aside class="col-sm-3 ml-sm-auto blog-sidebar">
    {{#each meta.sidebar as |title item|}}
        {{~> (item.type) title=title item=item ~}}
    {{/each}}
</aside><!-- /.blog-sidebar -->