{{#*inline "blog_main"}}
    <form action="/post" method="post">
        {{#if data.errors.general}}
            <p>{{data.errors.general}}</p>
        {{/if}}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control {{#if data.errors.title}}is-invalid{{/if}}"
                   id="title" placeholder="Title" value="{{data.title}}">
            {{#if data.errors.title}}
                <small class="form-text text-danger">{{data.errors.title}}</small>
            {{/if}}
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" class="form-control {{#if data.errors.author}}is-invalid{{/if}}"
                   id="author" placeholder="Author Name" value="{{data.author}}">
            {{#if data.errors.author}}
                <small class="form-text text-danger">{{data.errors.author}}</small>
            {{/if}}
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" class="form-control {{#if data.errors.body}}is-invalid{{/if}}"
                      id="body" cols="30" rows="10">{{data.body}}</textarea>
            {{#if data.errors.body}}
                <small class="form-text text-danger">{{data.errors.body}}</small>
            {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/inline}}

{{~> frontend/base}}